.header {
    text-align: center;
    color: white;
    background-color: #790000;
    line-height: 70px;
    height: 70px;  
    text-decoration: none;
    font-family: serif;
}

body {
    font-family: Tahoma, Verdana, sans-serif;
}


#homePageLink:visited, #homePageLink:link {
    text-decoration: none;
}

