.header {
    text-align: center;
    color: white;
    background-color: #790000;
    line-height: 60px;
    height: 60px;  
    text-decoration: none; 
}

#homePageLink:visited, #homePageLink:link {
    text-decoration: none;
}

