/*
.all-content holds .user-info-bar and .personal-listings
*/
.all-content {
    width: 1000px;
    position: relative;
    left: 10%;
    top: 10%;
}

/*
.user-info holds an image, .user-main-info, edit-button, personal-listings
*/
.user-info {
    width: inherit;
}

#user-picture {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
}

.user-main-info {
    position: absolute;
    top: 25px;
    left: 260px;
}

button {
    float: right;
    border-radius: 4px;
    background-color: #0D5070;
    color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

button:hover {
    transition: 0.3s;
    background-color: #7b99b7;
    color: black;
}

#new-listing-button {
    margin-bottom: 80px;
}

.personal-listings {
    width: inherit;
    position: relative;
    top: 300px;
}

.coverImage {
    max-width: 200px;
    max-height: 200px;
}

input {
    margin: 5px;
}

#user-icon input {
    position: relative;
    top: 230px;
    width: 200px;
}

/*For editing the profile*/

.user-main-info form input[type=text] {
    position: relative;
    width: 200px;
    margin-left: 30px;
    margin-top: 5px;
}