ul.tab {
    list-style-type: none;
    magrin: 0px;
    margin-left: 175px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {
    float: left;
}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {
    background-color: #ddd;
}

ul.tab li a:focus,
.active {
    background-color: #bbb;
}

.tabcontent {
    display: none;
    margin: 0px;
    margin-left: 175px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#addListingPage {
    height : 500px;
    width : 1000px;
}

.sidebar {
    width: 100px;
	float:left;
}

div.listing {
    border: cornflowerblue 3px solid;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}

div.listingDiv {
    float: left;
}

img.coverImage {
    position: relative;
    height: 100px;
    width: auto;
    top: 0px;
}

div.coverImageContainer {
    padding: 0px;
    height: 100px;
    width: auto;
}

.reserve-button {
    float: right;
    background-color: #F1F1F1; /* Same grey as tabs */
    border: 1px solid #ccc;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}