ul.tab {
    list-style-type: none;
    margin: 0px;
    margin-left: 175px;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

ul.tab li {
    float: left;
}

.labels{
    font-weight: bold;
    font-size: 18px;
    color: #0D5070;
}

ul.tab li a {
    display: inline-block;
    color: black;
    background: #7b99b7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px 10px 0px 0px;
    border-color: ;
}

ul.tab li a:hover {
    transition: 0.3s;
    background-color: #99B8C7;
}

ul.tab li a:focus,
.active {
    background-color: #0D5070;
    color: white;
}

.tabcontent {
    display: none;
    margin: 0px;
    margin-left: 175px;
    padding: 6px 12px;
    padding-bottom: 50px;
    border: 1px solid #bbb;
    background-color: white;
}

#addListingPage {
    height : 500px;
    width : 1000px;
}

.sidebar {
    width: 100px;
	float:left;
}

div.listing {
    border: #0D5070 3px solid;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
}

div.listingDiv {
    float: left;
    display: table;
    width: 100%;
}

img.coverImage {
    position: relative;
    height: 150px;
    width: auto;
    top: 0px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.reserve-button {
    position: relative;
    top: -100px;
    left: 0px;
    background-color: #0D5070;
    color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.delete-button {
    position: relative;
    top: -90px;
    left: 0px;
    background-color: #0D5070;
    color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px;

}

.reserve-button:hover, .delete-button.hover {
    transition: 0.3s;
    background-color: #7b99b7;
    color: black;
}
	
.buttonContainer{
    display: table-cell;
    vertical-align: middle;
    width: 20%;
}

.topContent{
    height: 150px;
}