<html>

<head>
	<title>Rose-Hulman Book Exchange Edit Profile</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="../js/tabbedContent.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/profile.css">
    <link rel="stylesheet" type="text/css" href="../css/general.css">
</head>
<body>
    <a id="homePageLink" href="./home_page.html">
        <div class="header">
            <h1>Rose-Hulman Book Exchange</h1>
            <hr />
        </div>
    </a>

    <div class="all-content">

        <div class="user-info">
            <div id="user-icon">
                <img src="../images/userIconTemp.jpg" alt="User icon"></img>
                <input type="file" value="">
            </div>

            <div class="user-main-info">
               <input type="text" placeholder="First name" value=""></input> <br>
               <input type="text" placeholder="Last name" value=""></input> <br>
                <input type="text" placeholder="Academic major" value=""></input> <br>
                <p id="user-email">placeholder@email.com</p>
                <input type="password" placeholder="New password" value=""></input> <br>
                <input type="password" placeholder="Confirm new password" value=""></input>
            </div>
            <a href="personal_profile.html"><button id="cancel-button" type="button">Cancel changes</button></a>
            <a href="personal_profile.html"><button id="save-button" type="button">Save changes</button></a>
            
            
    </div>

</body>

</html>