<html>

<head>
	<title>Rose-Hulman Book Exchange Edit Profile</title>
    <script src="../js/jquery-3.1.1.js"></script>
	<script src="../js/tabbedContent.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/profile.css">
    <link rel="stylesheet" type="text/css" href="../css/general.css">
</head>
<body>
    <a id="homePageLink" href="./home_page.html">
        <div class="header">
            <h1>Rose-Hulman Book Exchange</h1>
            <hr />
        </div>
    </a>

    <div class="all-content">

        <div class="user-info">
            <div id="user-icon">
            </div>
            <div class="user-main-info">
                <p id="user-email"></p>
                <form name="userForm">
                </form>
            </div>
            <button id="cancel-button" type="button">Cancel changes</button>
            <button id="save-button" type="button">Save changes</button>
    </div>
<script src="../js/editProfile.js"></script>
</body>

</html>