<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/homePage.css">
</head>

<body>
    <div id="header">
        <p>Rose-Hulman Book Exchange
            <p>
    </div>

    <div id="contain">
        <img src="../css/logo.jpg" />
        <div id=right>
            <h2>Sign In</h2>
            <div id="login">
                <form>
                    <p><input type="text" placeholder="Username or Email"></p>
                    <p><input type="password" placeholder="Password"></p>
                    <p class="remember_me">
                        <label>
                            <input type="checkbox" name="remember_me" id="remember_me">
                             Remember me
                        </label>
                    </p>
                    <br />
                    <input type="submit" value="Submit">
                    <br />
                    <br />
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>

    <div id="info">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum odio et accumsan commodo. Aliquam ac accumsan risus.
            Praesent suscipit vel erat vitae blandit. Integer maximus, ipsum vitae viverra pulvinar, leo dui vulputate mauris,
            sollicitudin bibendum augue dui a ante. Donec mauris diam, consectetur nec pulvinar in, efficitur quis orci.
            Suspendisse ac blandit justo. Sed risus lorem, semper sit amet nisl eget, blandit lobortis lacus. Maecenas cursus
            nec velit eget aliquam. Quisque sem elit, lacinia non sagittis ut, laoreet at ante. Pellentesque tempor tellus
            id enim sagittis blandit a vel felis. Aenean posuere tincidunt est, et tempor neque consequat nec. Duis feugiat
            convallis facilisis. Donec dapibus, libero at rutrum ultrices, metus ante varius neque, at condimentum nunc orci
            finibus metus. Integer varius nisl quis rhoncus faucibus.
        </p>

        <p>
            Maecenas in porttitor turpis. Nunc faucibus accumsan diam, eget laoreet ipsum pellentesque vel. Etiam in orci venenatis,
            gravida dui a, maximus nisl. Donec ut gravida augue, a convallis neque. Curabitur tristique arcu nulla, a consequat
            odio auctor sed. Morbi ut elit sapien. Sed ligula lectus, hendrerit in augue eu, pharetra dapibus felis. Mauris
            dignissim libero ac est maximus tristique. Maecenas consectetur volutpat luctus. Ut eros quam, sagittis a efficitur
            ut, tincidunt viverra ante. Proin non vestibulum metus. Sed blandit ante felis, id blandit nibh facilisis id.
            Vivamus sapien nisl, rutrum eget fermentum ut, malesuada in elit. Nam euismod purus a tellus sollicitudin viverra.
            Maecenas id euismod nulla. Nam sed accumsan quam. Duis id ipsum nec ante interdum varius in et metus. Maecenas
            tincidunt arcu ut neque dignissim varius. Vivamus sodales dignissim metus, in ultricies diam blandit sed. Aenean
            vitae porta orci. Duis dictum diam quis laoreet vehicula. Duis ac nulla eros. Quisque ac neque ut justo mattis
            convallis eu sed risus.
        </p>
    </div>

</body>

</html>