<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/logged_in.css">
</head>

<body>
    <div id="header">
        <p>Rose-Hulman Book Exchange
            <p>
    </div>

    <div id="contain">
        <img src="../css/logo.jpg" />
        <div id=right>
            <h2>Welcome User</h2>
            <div id="nav">
                <ul>
                    <li><a href="">My Profile</a></li>
                    <li><a href="">Search Listings</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="info">
        <p>
            Tired of spending hundreds of dollars on books every quarter while attending classes at Rose-Hulman? Want a way to save money while
            helping to protect the enviroment? How would you like to help support other students who have finished the class but need 
            money for books in their other classes. Well Rose-Hulman Book Exchange is for you!
        </p>

        <p>
            This website provides and easy to use platform to find and sell books from other students at Rose-Hulman. By using Rose-Hulman Book Exchange
            you will help support both you and another student attending Rose while avoiding the overpriced books sold at the store!
        </p>
    </div>

</body>

</html>