<html>

<head>
	<title>Rose-Hulman Book Exchange Personal Profile</title>
	<script src="../js/jquery-3.1.1.js"></script>
    <script src="../js/tabbedContent.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/profile.css">
	<link rel="stylesheet" href="../css/tabbedContent.css">
    <link rel="stylesheet" type="text/css" href="../css/general.css">
</head>
    <body>
    <a id="homePageLink" href="./home_page.html">
        <div class="header">
            <h1>Rose-Hulman Book Exchange</h1>
        </div>
    </a>
    <hr />

    <div class="all-content">

        <div class="user-info">
            
            <div id="user-icon">
            </div>

            <div class="user-main-info">
                <p id="user-fullname"></p>
                <p id="user-major"></p>
                <p id="user-email"></p>
            </div>
            <a hidden=true id="edit" href="edit.html"><button id="edit-button" type="button">Edit</button></a>
            
            <div class="personal-listings">
                <ul class="tab">
                    <li><a href="javascript:void(0)" class="tablinks active" onclick="openTab(event, 'listing')" id="defaultOpen">Listings</a></li>
                    <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'wishList')">Wishlists</a></li>
                    <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'addNewListing')">Add New Listing</a></li>
                </ul>
            <div id="listing" class="tabcontent">
            </div>
            <div id="wishList" class="tabcontent">
            </div>
            <div id="addNewListing" class="tabcontent">
                <form name="addListingForm"></form>
                <script src="../js/listing.js"></script>
                <link href="../css/add_listing.css" rel="stylesheet">
            </div>
        </div>
    </div>
<script src="../js/profile.js"></script>	
</body>

</html>