<!DOCTYPE>
<html>
    <head>
        <title>Register</title>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link href="../css/register.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <h1>Rose-Hulman Book Exchange</h1>
            <hr />
        </div>
        <div>
            <h2>Register</h2>
        </div>
        <form name="userForm">
            
        </form>
    	<script src="../js/jquery-3.1.1.js"></script>
	    <script src="../js/register.js"></script>
    </body>
</html>