<html>

<head>
	<title>Rose-Hulman Book Exchange Personal Profile</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="../js/tabbedContent.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/profile.css">
	<link rel="stylesheet" href="../css/tabbedContent.css">
    <link rel="stylesheet" type="text/css" href="../css/general.css">
</head>
<body>
    <a id="homePageLink" href="./home_page.html">
        <div class="header">
            <h1>Rose-Hulman Book Exchange</h1>
            <hr />
        </div>
    </a>

    <div class="all-content">

        <div class="user-info">
            
            <div id="user-icon">
                <img src="../images/userIconTemp.jpg" alt="User icon"></img>
            </div>

            <div class="user-main-info">
                <p id="user-fullname"></p>
                <p id="user-major"></p>
                <p id="user-email"></p>
            </div>
            
            <div class="personal-listings">
                <ul class="tab">
                    <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'listing')" id="defaultOpen">Listings</a></li>
                    <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'wishList')">Wishlists</a></li>
                </ul>
                <div id="listing" class="tabcontent">
                </div>

                <div id="wishList" class="tabcontent">
                </div>
        </div>        
    </div>
<script src="../js/view_profile.js"></script>
</body>

</html>